.kotobuki-banner {
  position: relative;
  font-size: 20px;
  color: #FE6C72;
  background-image: url("/image/kotobuki/kotobuki_line.sp.480.png");
  background-size: 100%;
  padding-bottom: 15.5%;
  margin-left: -12px;
  margin-right: -12px;
  &.kotobuki-banner__cal::after,
  &.kotobuki-banner__basic::after,
  &.kotobuki-banner__kobetsu::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    padding-bottom: 5%;
    left: 17px;
    top: 30%;
  }
  &.kotobuki-banner__cal::after{
    background-image: url("/image/kotobuki/cbword1.sp.480.png");
  }
  &.kotobuki-banner__basic::after{
    background-image: url("/image/kotobuki/cbword3.sp.480.png");
  }
  &.kotobuki-banner__kobetsu::after{
    background-image: url("/image/kotobuki/cbword2.sp.480.png");
  }
}

ul{
  padding: 0;
  &.kobetsu-list-boost{
    li{
      padding-bottom:20px;
    }
  }
}

.kotobuki-basic__list{
  ul.list-group li{
    a{
      &::before {
        content: none;
      }
      &::after {
        position: absolute;
        top: 25%;
        right: 10px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid #7F7F7F;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-radius: 0;
        transform: rotate(0deg);
        background-color: transparent;
        margin-top: 0;
      }
    }
  }
}

img.kotobuki-label {
  width: 208px;
  margin-bottom: 12px;
}
