[class^="m-kobetsu-kotobuki"] header ,
[class^="m-kotobuki"] header{
    background-color: #FE7B81;
    .brand a {
        background-image: url("/image/kotobuki/header_logo.sp.480.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 98px;
    }
}
