.kotobuki-cal__{
  &image {
    margin: 0;
    padding: 1px;
    height: 22px;
    span{
      display: inline-block;
    }
    img {
      width: 20px;
      display: inline-block;
      padding: 1px;
    }
  }//image

}//.kotobuki-cal__
