.kotobuki-month {
  font-size: 1em;
  padding: 0 12px;
  margin-right: 0;

  span.kotobuki-month__eng {
    display: block;
  }

  .kotobuki-month__block{
    &1{
      width: 30%;
      float:left;
    }
    &2{
      width: 45%;
      float: left;
      margin-left: 25%;
      text-align: right;
      padding: 12px 0;
    }
  }

  h2{
    margin-top: 0;
    text-align: -webkit-left;
    font-size: 24px;
  }
}


.kotobuki-cal__{
  &weekList {
    width: 14.28%;
    text-align: center;
    height: 20px;
    line-height: 20px;
  }

  &weekItem p {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }

  &dayBox{
    font-size: 12px;
    text-align: center;
    width: 14.28%;
    border-top: solid 1px #f29ec0;
    &.kotobuki-cal__{
      &lastMonth p,
      &nextMonth p {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
  }//dayBox

  &days {
    margin: 0;
    padding: 0px;
  }//days
}

.cal-zone__1{
  background-color: #F577C9;
  color: #fff;
}
.cal-zone__3{
  background-color: #FD0013;
  color: #fff;
}

@import "_default";
@import "_image";
@import "_info"
